#bio_ep_bg {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.3; z-index: 10001;}#bio_ep {display: none; position: fixed; width: 100%px; height: 298px; font-family: 'Titillium Web', sans-serif; font-size: 16px; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); background-color: #fff; bottle-shadow: 0px 1px 4px 0 rgba(0,0,0,0.5); z-index: 10002;}#bio_ep_close {position: absolute; left: 100%; margin: -8px 0 0 -12px; width: 20px; height: 20px; color: #fff; font-size: 12px; font-weight: bold; text-align: center; border-radius: 50%; background-color: #5c5c5c; cursor: pointer;}


      .glue_content {
         text-align:center;
         }
         .glue_stop {
         color:red;
         font-weight:bold;
         font-size:50px;
         margin-bottom:10px;
         }
         .glue_header {
         font-size:18px;
         font-weight:bold;
         margin-bottom:20px;
         }
         .product_table {
         margin: 0 auto;
         }
         .table_2 {
         font-size:100px;
         cursor:default;
         }
         .table_3 img {
         width:250px;
         }

         